#map15 {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 100%;
}

.container {
    background-color: red;
    color: blue;
}

.distance-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
    > * {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: block;
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 3px;
    }
}