<div>
  <mgl-map
  [style]="'https://demotiles.maplibre.org/style.json'"
  [zoom]="[5]"
  [center]="[-65.017, -16.457]"
>
  <!-- <mgl-marker *ngFor="let feature of geojson.features" [feature]="feature">
   
  </mgl-marker> -->
  <mgl-marker [lngLat]="[-61.2158203125, -15.97189158092897]">
    <div
          class="marker"
          style="background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic.51yuansu.com%2Fpic3%2Fcover%2F02%2F34%2F35%2F59c168281783d_610.jpg&refer=http%3A%2F%2Fpic.51yuansu.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1635060922&t=d8e1314b8de97b800763ff8dd92ed586); width: 60px; height: 60px"
        ></div>
  </mgl-marker>
  <mgl-marker [lngLat]="[-63.29223632812499, -18.28151823530889]">
  
  </mgl-marker>
</mgl-map>
</div>