#map18 {
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 100%;
    canvas {
        cursor: crosshair;
    }
}
#features {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    overflow: auto;
    background: rgba(255,255,255,0.7);
}