<nav>
  <div class="container">
    <a nz-button nzType="primary" routerLink="/mapboxDemo1" >Demo1</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo2" >Demo2</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo3" >Demo3</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo4" >Demo4</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo5" >Demo5</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo6" >Demo6</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo7" >Demo7</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo8" >Demo8</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo9" >Demo9</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo10" >Demo10</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo11" >Demo11</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo12" >Demo12</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo13" >Demo13</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo14" >Demo14</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo15" >Demo15</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo16" >Demo16</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo17" >Demo17</a>
    <a nz-button nzType="primary" routerLink="/mapboxDemo18" >Demo18</a>
  </div>
</nav>